.fixd-header .am-navbar{
    position: fixed;
    top:0;
    width:100%;
}
.contens{
    position: relative;
    z-index: 99;
    margin-top:10px;
}

#chat-page .chat-me .am-list-extra{
    flex-basis: auto;
}
#chat-page .chat-me .am-list-line>.am-list-content{
    padding-right:15px;
    text-align: right;
}
.stick-footer{
    z-index: 100;
    position: absolute;
    bottom: 0;
    width:100%;
}